* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.routerLink {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Fredericka the Great', serif;
    font-weight: 700;
    font-size: 18px;
}