:root {
    /* Primary: */
    --bright-red: hsl(0, 84%, 46%);
    --brownish-red: hsl(0, 76%, 35%);
    --chestnut: hsl(9, 53%, 37%);
    --rosy-brown: hsl(9, 35%, 57%);
    
    /* Neutral: */
    --white: hsl(0, 0%, 94%);
    --grey: hsl(0, 3%, 43%);
    --very-dark-grey: hsl(0, 0%, 20%);
    --black: hsl(0, 0%, 10%);
}

@font-face {
    font-family: "Danfo";
    src: url(./assets/fonts/Danfo/Danfo-Regular-VariableFont_ELSH.ttf);
}

@font-face {
    font-family: "Fredericka the Great";
    src: url(./assets/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf);
}

@font-face {
    font-family: "Platypi";
    src: url(./assets/fonts/Platypi/Platypi-VariableFont_wght.ttf);
}