@font-face {
    font-family: "Danfo";
    src: url(./assets/fonts/Danfo/Danfo-Regular-VariableFont_ELSH.ttf);
}

@font-face {
    font-family: "Fredericka the Great";
    src: url(./assets/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf);
}

@font-face {
    font-family: "Platypi";
    src: url(./assets/fonts/Platypi/Platypi-VariableFont_wght.ttf);
}