:root {
    --bright-red: hsl(0, 84%, 46%);
    --white: hsl(0, 0%, 94%);
    --very-dark-grey: rgb(50, 50, 50);
}

@font-face {
    font-family: "Danfo";
    src: url(./assets/fonts/Danfo/Danfo-Regular-VariableFont_ELSH.ttf);
}

@font-face {
    font-family: "Fredericka the Great";
    src: url(./assets/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf);
}

@font-face {
    font-family: "Platypi";
    src: url(./assets/fonts/Platypi/Platypi-VariableFont_wght.ttf);
}